.formulario{
    background-color: rgb(150, 180, 170,.13);
    border-radius: 15%;
}
input{
    
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    border:none;
    border-bottom:1px solid #1b1b4522;
    width: 150px;
    border-radius: 20px;
    color: #1b1b4592;
    height: 65px;
    font-size: 18px;
    background: #ffffff;
    
}